body {
    padding: auto;
}
.window {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: auto;
    border: solid black 2px;
    background-color: lightgray;
}
.kernelpanic {
    border: solid black;
    width: 5em;
}
.errorpictureandimage {
    display: flex;
    border: solid black;
    align-self: center;
}
.button {
    border: solid black;
    width: 5em;
    align-self: flex-end;
}